
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  @apply bg-gray-900 text-white; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
}

h1 {
  @apply text-3xl font-bold mb-6;
}

h2 {
  @apply text-2xl font-semibold mb-4;
}

a {
  @apply text-blue-400 hover:text-blue-600;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
@layer utilities {
  .animated-gradient-header {
    --color-stop-1: #0f0c29; 
    --color-stop-2: #302b63; 
    --color-stop-3: #0077b6;
    --color-stop-4: #7209b7;

    background: linear-gradient(
      270deg,
      var(--color-stop-1),
      var(--color-stop-2),
      var(--color-stop-3),
      var(--color-stop-4)
    );
    background-size: 600% 600%;
    animation: gradientShift 18s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .text-shadow-soft {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
